* {
    padding: 0;
    margin: 0;
    border: 0;
}


body {
  background-color: rgb(197, 224, 210);
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
}


.box_form {
background-color: rgb(255, 255, 255);
    width: 600px;
    height: 694px;
    display: flex;
    border-radius: 16px;
    justify-content: space-around;
}

.form_container {
    display: grid;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    
}

.titulo {
text-align: center;
font-size: 40px;
padding-top: 30px;
}

.field_nome {
display: flex;
gap: 50px;
}

.field {
  display: flex;
  flex-direction: column; 
  gap: 6px;
}


#fname {
  display: flex;
  width: 110px;
  height: 35px;
  padding-left: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 6px;
}

#lname {
  display: flex;
  width: 224px;
  height: 35px;
  padding-left: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 6px;
}

.cpf_name {
  margin-bottom: 6px;  
}

#CPF {
  height: 35px;
  margin-top: -31px;
  padding-left: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 6px;
}

.email_name {
 margin-bottom: 6px;   
}

#email {
  height: 35px;
  margin-top: -31px;
  padding-left: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 6px;
}

.password_name {
  margin-bottom: 6px;
}

#password {
height: 35px;
margin-bottom: -21px;
margin-top: -31px;
padding-left: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
border-radius: 6px;
}

.field_email  {
  display: flex;
}

.btn_cadastro {
  background-color: rgb(197, 224, 210);
  height: 50px;
  width: 400px;
  border-radius: 10px;
  cursor: pointer;
  justify-self: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.btn_cadastro:hover {
  background-color: rgb(99, 161, 108);
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 414px) {

  body {
    padding-left: 15px;
    padding-right: 15px;
  }


 .box_form {
    width: 100%;        
    height: auto;       
    flex-direction: column;
    padding: 20px;
  }

  .form_container {
    display: flex;      
    flex-direction: column;
    gap: 20px;          
  }

  .field_nome {
    flex-direction: column;
    gap: 10px;
  }

  #fname {
    width: auto;
  }

  #lname {
    width: auto;
  }

  
  .cpf_name {
    margin-bottom: 15px;
  }
  
  .email_name {
    margin-bottom: 15px;
  }
  
  .password_name {
    margin-bottom: 15px;
  }
  
  #password {
    margin-bottom: 0px;
  }
  
  .btn_cadastro {
    margin-top: 90px;
    width: 100%;
  }
}